

.ingredient-quantities{
    // padding: 1px 1px;
    color: aqua;
    // background-color: blue;
    // border-radius: 200px;
  } 
  

// .method-root{
//   width: '100%';
//   max-width: 360;
//   background-color: white;
// }


.time-icon{
  color: #999999;
  margin: 5px 5px 10px 5px;
  font-size: 18px,
}

.ingredient-quantity-list{
  // background-color: green;
  display: flex;
  padding-left: 20px;
  // margin: 10px
}